automation/n8n-workflows/ai-whisperers-repo-monitor-dashboard.json
{
  "name": "AI Whisperers - Repository Monitor with Dashboard Integration",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 6}]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger - Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.github.com/orgs/Ai-Whisperers/repos",
        "queryParameters": {
          "parameters": [
            {"name": "per_page", "value": "100"},
            {"name": "type", "value": "all"}
          ]
        },
        "options": {}
      },
      "id": "fetch-all-repos",
      "name": "Fetch All Organization Repos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": {
        "httpHeaderAuth": {"id": "github-token", "name": "GitHub Token"}
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-repos",
      "name": "Split Into Individual Repos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Fetch all repository data and calculate metrics\nconst repo = $input.first().json;\nconst githubToken = $env.GITHUB_TOKEN || $env.GITHUB_PAT;\n\nif (!githubToken) {\n  throw new Error('GITHUB_TOKEN or GITHUB_PAT environment variable is required');\n}\n\nconst headers = {\n  'Authorization': `Bearer ${githubToken}`,\n  'Accept': 'application/vnd.github.v3+json'\n};\n\n// Fetch commits (last 6 hours)\nlet commits = [];\ntry {\n  const since = new Date(Date.now() - 6 * 60 * 60 * 1000).toISOString();\n  const commitRes = await $http.request({\n    method: 'GET',\n    url: `${repo.url}/commits?since=${since}&per_page=100`,\n    headers\n  });\n  commits = commitRes.data || [];\n} catch (error) {\n  console.log(`Error fetching commits for ${repo.name}:`, error.message);\n}\n\n// Fetch pull requests\nlet pullRequests = [];\ntry {\n  const prRes = await $http.request({\n    method: 'GET',\n    url: `${repo.url}/pulls?state=open&per_page=100`,\n    headers\n  });\n  pullRequests = prRes.data || [];\n} catch (error) {\n  console.log(`Error fetching PRs for ${repo.name}:`, error.message);\n}\n\n// Fetch issues\nlet issues = [];\ntry {\n  const issueRes = await $http.request({\n    method: 'GET',\n    url: `${repo.url}/issues?state=open&per_page=100`,\n    headers\n  });\n  const allIssues = issueRes.data || [];\n  // Filter out pull requests (GitHub API returns PRs in issues endpoint)\n  issues = allIssues.filter(issue => !issue.pull_request);\n} catch (error) {\n  console.log(`Error fetching issues for ${repo.name}:`, error.message);\n}\n\n// Fetch branches\nlet branches = [];\ntry {\n  const branchRes = await $http.request({\n    method: 'GET',\n    url: `${repo.url}/branches?per_page=100`,\n    headers\n  });\n  branches = branchRes.data || [];\n} catch (error) {\n  console.log(`Error fetching branches for ${repo.name}:`, error.message);\n}\n\n// Calculate stale PRs (older than 7 days)\nconst stalePRs = pullRequests.filter(pr => {\n  const created = new Date(pr.created_at);\n  const daysSince = (Date.now() - created.getTime()) / (1000 * 60 * 60 * 24);\n  return daysSince > 7;\n});\n\n// Calculate health score\nlet healthScore = 100;\nif (commits.length === 0) healthScore -= 20;\nif (stalePRs.length > 0) healthScore -= (stalePRs.length * 10);\nif (issues.length > 10) healthScore -= 15;\nif (branches.length > 20) healthScore -= 10;\nhealthScore = Math.max(0, healthScore);\n\nreturn [{\n  json: {\n    repository: repo.name,\n    full_name: repo.full_name,\n    url: repo.html_url,\n    visibility: repo.visibility || (repo.private ? 'private' : 'public'),\n    default_branch: repo.default_branch,\n    commits_last_6h: commits.length,\n    open_pull_requests: pullRequests.length,\n    stale_pull_requests: stalePRs.length,\n    open_issues: issues.length,\n    total_branches: branches.length,\n    health_score: healthScore,\n    last_updated: repo.updated_at,\n    last_pushed: repo.pushed_at,\n    size_kb: repo.size,\n    stars: repo.stargazers_count || 0,\n    watchers: repo.watchers_count || 0,\n    forks: repo.forks_count || 0,\n    needs_attention: healthScore < 70,\n    has_stale_prs: stalePRs.length > 0,\n    high_issue_count: issues.length > 10,\n    too_many_branches: branches.length > 20,\n    inactive: commits.length === 0,\n    scan_timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "fetch-and-calculate",
      "name": "Fetch All Data & Calculate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/repository-monitor/scan",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "send-to-api",
      "name": "Send to Jobs Service API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate comprehensive summary from all repository scans\nconst items = $input.all();\n\n// Group by status\nconst healthy = items.filter(i => !i.json.needs_attention);\nconst needsAttention = items.filter(i => i.json.needs_attention);\n\n// Calculate summary statistics\nconst summary = {\n  total_repos: items.length,\n  healthy_repos: healthy.length,\n  repos_needing_attention: needsAttention.length,\n  total_commits_6h: items.reduce((sum, i) => sum + i.json.commits_last_6h, 0),\n  total_open_prs: items.reduce((sum, i) => sum + i.json.open_pull_requests, 0),\n  total_stale_prs: items.reduce((sum, i) => sum + i.json.stale_pull_requests, 0),\n  total_open_issues: items.reduce((sum, i) => sum + i.json.open_issues, 0),\n  average_health_score: Math.round(items.reduce((sum, i) => sum + i.json.health_score, 0) / items.length),\n  scan_timestamp: new Date().toISOString()\n};\n\n// Prepare bulk data for API\nconst bulkData = {\n  scans: items.map(i => i.json),\n  summary: summary\n};\n\n// Create alerts list\nconst alerts = needsAttention.map(i => ({\n  repository: i.json.repository,\n  health_score: i.json.health_score,\n  issues: [\n    i.json.has_stale_prs ? `${i.json.stale_pull_requests} stale PRs` : null,\n    i.json.high_issue_count ? `${i.json.open_issues} open issues` : null,\n    i.json.too_many_branches ? `${i.json.total_branches} branches` : null,\n    i.json.inactive ? 'No recent activity' : null\n  ].filter(Boolean),\n  url: i.json.url\n}));\n\n// Create markdown report\nconst markdown = `# AI Whisperers - Repository Health Report\\n\\n**Scan Time:** ${summary.scan_timestamp}\\n\\n## Summary\\n\\n- **Total Repositories:** ${summary.total_repos}\\n- **Healthy:** ${summary.healthy_repos} ✅\\n- **Needs Attention:** ${summary.repos_needing_attention} ⚠️\\n- **Average Health Score:** ${summary.average_health_score}/100\\n\\n## Activity (Last 6 Hours)\\n\\n- **Commits:** ${summary.total_commits_6h}\\n- **Open Pull Requests:** ${summary.total_open_prs}\\n- **Stale Pull Requests:** ${summary.total_stale_prs}\\n- **Open Issues:** ${summary.total_open_issues}\\n\\n${alerts.length > 0 ? `## Repositories Needing Attention\\n\\n${alerts.map(a => `### ${a.repository} (Health: ${a.health_score}/100)\\n\\n${a.issues.map(i => `- ${i}`).join('\\n')}\\n\\n[View Repository](${a.url})\\n`).join('\\n')}` : '## All Repositories Healthy! 🎉\\n'}\\n\\n---\\n*Generated by n8n Repository Monitor*`;\n\nreturn [{\n  json: {\n    bulk_data: bulkData,\n    summary,\n    alerts,\n    markdown,\n    scan_complete: true\n  }\n}];"
      },
      "id": "generate-summary",
      "name": "Generate Summary Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/repository-monitor/bulk-scan",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.bulk_data) }}",
        "options": {}
      },
      "id": "send-bulk-summary",
      "name": "Send Bulk Summary to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "text", "value": "AI Whisperers Repository Health Report"},
            {
              "name": "blocks",
              "value": "={{ JSON.stringify([{type: 'header', text: {type: 'plain_text', text: '🔍 Repository Health Report'}}, {type: 'section', fields: [{type: 'mrkdwn', text: `*Total:*\\n${$json.summary.total_repos}`}, {type: 'mrkdwn', text: `*Health:*\\n${$json.summary.average_health_score}/100`}, {type: 'mrkdwn', text: `*Healthy:*\\n✅ ${$json.summary.healthy_repos}`}, {type: 'mrkdwn', text: `*Alerts:*\\n⚠️ ${$json.summary.repos_needing_attention}`}]}, {type: 'section', text: {type: 'mrkdwn', text: `*Activity (6h):* ${$json.summary.total_commits_6h} commits | ${$json.summary.total_open_prs} PRs | ${$json.summary.total_stale_prs} stale`}}, {type: 'divider'}, {type: 'context', elements: [{type: 'mrkdwn', text: `View full dashboard: http://localhost:3000/repository-health`}]}]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-slack",
      "name": "Send Slack Notification (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1350, 500],
      "disabled": true
    }
  ],
  "connections": {
    "Schedule Trigger - Every 6 Hours": {
      "main": [[{"node": "Fetch All Organization Repos", "type": "main", "index": 0}]]
    },
    "Fetch All Organization Repos": {
      "main": [[{"node": "Split Into Individual Repos", "type": "main", "index": 0}]]
    },
    "Split Into Individual Repos": {
      "main": [
        [{"node": "Fetch All Data & Calculate Metrics", "type": "main", "index": 0}],
        [{"node": "Generate Summary Report", "type": "main", "index": 0}]
      ]
    },
    "Fetch All Data & Calculate Metrics": {
      "main": [[{"node": "Send to Jobs Service API", "type": "main", "index": 0}]]
    },
    "Generate Summary Report": {
      "main": [[{"node": "Send Bulk Summary to API", "type": "main", "index": 0}]]
    },
    "Send Bulk Summary to API": {
      "main": [[{"node": "Send Slack Notification (Optional)", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-05T00:00:00.000Z",
  "versionId": "3"
}
